<template>
  <div class="footer">
    <span>Ryan Deyo</span>
    <span>Boston, MA</span>
    <span>rdeyo1129@gmail.com</span>
    <a href="https://www.linkedin.com/in/ryan-deyo/">Linkedin</a>
    <a href="https://github.com/rdeyo1129">GitHub</a>
  </div>
</template>

<script></script>

<style scoped>

  .footer {
    text-align: center;
    padding: 40px;
    height: 100px;
    background: #111111;
  }
  .footer span {
    margin: 20px;
  }
  .footer a {
    margin: 20px;
  }
  
</style>