<template>
  <div class="intro">
    <img src="../../static\img\icons\favicon.png" />
    <div class="text">
      <h3>Ryan Deyo</h3>
      <h6>Software Engineer</h6>
    </div>
  </div>
</template>

<script></script>

<style scoped>

  .intro {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 100px;
    background: #111111;
  }
  .intro .text {
    margin: 0 20px 0 20px;
  }

</style>
